$corDeFundo: #055C58;
$corDeFundoSecundario: #EF4D7A;
$corDeFundoAlternativo: #0A908C;

$corTextoPrincipal: #F8F9FA;
$corTextoSecundario: #0A908C;

$corTitulo: #FFFFFF;
$corTituloSecundario:#EF4D7A;

$corBotao: #FFFFFF;